<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FinalProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="excelConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties=Excel 12.0;"/>
    <add name="oracleConnection" connectionString="Data Source=hp;Provider=msdaora;Persist Security Info=True;User ID=report;Password=report;Unicode=True"/>
  </connectionStrings>
  <userSettings>
    <FinalProject.Properties.Settings>
      <setting name="start" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="end" serializeAs="String">
        <value>0</value>
      </setting>
    </FinalProject.Properties.Settings>
  </userSettings>
</configuration>